/* Color Variables */


/*   main background & buttons colors   */

$dark: #212529;
$dark-color: #F5F5F5;
$light: #FEFEFF;
$light-color: #3E363F;
$primary: #0D6EFD;
$primary-color: #FFFFFF;
$success: #28A745;
$success-color: #FFFFFF;
$warning: #FFC107;
$warning-color: #3E363F;
$info: #0DCAF0;
$info-color: #FFFFFF;
$danger: #DD403A;
$danger-color: #F5F5F5;

/*  black   */

$blackCoral: #696D7D;
$blackIntense: #090A0B;
$blackCoffe: #3E363F;
$blackIndependence: #505168;

/*  silver  */

$silverSand: #C7CCD1;
$silverCadetBlue: #A5ADB6;

/*  green   */

$greenXanadu: #6F9283;
$greenFeldGrau: #465D53;
$greenMediumTurquoise: #6DD6DA;
$greenDeepJungle: #145052;
$greenAcid: #B8B42D;
$greenStraw: #DFDC7C;
$greenAvocado: #697A21;
$greenDeepSpace: #466362;
$greenDarkMoss: #3F612D;
$greenErin: #19F056;
$greenSlimy: #0A9932;
$greenShade: #4CAF50;

/*  gray  */

$grayWeb: #817F82;
$grayLight: #CCCBCD;
$grayJet: #333234;
$grayCool: #8896AB;

/*  yellow   */

$yellowCosmicLatte: #FFFCE8;
$yellowCorn: #FFEC70;
$yellowPantone: #FFE11F;
$yellowOlive: #8F7C00;
$yellowMustard: #FFDD4A;
$yellowGold: #FFD61F;
$yellowSaffron: #E0B700;
$yellowMellowApricot: #FFBF69;

/*  orange  */

$orange: #FE9000;
$orangeLiver: #B86800;
$orangeYellow: #FFB85C;
$orangeGoldCrayola: #ECBA82;
$orangePeel: #FF9F1C;

/*  red   */

$redCG: #DD403A;
$redPastelPink: #F0AAA8;
$redRuby: #9D1F1B;
$redCrimson: #8C1C18;
$redBlackBean: #460E0C;

/*  blue    */

$blueColumbia: #D9F0FF;
$blueBabyEyes: #A3D5FF;
$blueLightSky: #83C9F4;
$blueDodger: #0A91FF;
$blueBrightNavy: #007BE0;
$blueLapisLazuli: #005AA3;
$blueStarCommand: #107ABC;
$blueIndigoDye: #094074;
$blueQueenBlue: #3C6997;

/*  violet  */

$violetCrayola: #6F73D2;
$violetOceanBlue: #4549C4;
$violetBluePigment: #31349B;
$violetLavender: #C2BBF0;

/*  brown   */

$brownRawUmber: #7E6551;
$brownBeaver: #A78C76;
$brownUmber: #645040;

/*  purple  */

$purpleDark: #27233A;
$purpleCyberGrape: #4C4573;

/*   white   */

$whitePlain: #FFFFFF;
$whitePlatinum: #EBEBEB;
$whiteGainsboro: #E0E0E0;
$whiteCultured: #F5F5F5;
// COLOR VARIABLES ENDS