// BACKGROUND
.background-dark {
    background: $dark!important;
    color: $dark-color!important;
}

.background-light {
    background: $light!important;
    color: $light-color!important;
}

.background-primary {
    background: $primary!important;
    color: $primary-color!important;
}

.background-success {
    background: $success!important;
    color: $success-color!important;
}

.background-warning {
    background: $warning!important;
    color: $warning-color!important;
}

.background-info {
    background: $info!important;
    color: $info-color!important;
}

.background-danger {
    background: $danger!important;
    color: $danger-color!important;
}

// BACKGROUND ENDS