// ROUND BORDERS
.rounded-sm {
    border-radius: 5px;
}

.rounded-md {
    border-radius: 10px;
}

.rounded-lg {
    border-radius: 15px;
}

.rounded-xl {
    border-radius: 20px;
}

.rounded-circle {
    border-radius: 50%;
}

// ROUND BORDERS END